{%load static%}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock extra_styles %}

<nav class="navbar navbar-expand-lg custom-navba">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="btn d-flex align-items-center offcanvas-genres-button" 
                data-bs-toggle="offcanvas" href="#offcanvasExample" 
                role="button" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
                <span class="ms-2">Books by Genre</span>  
            </a>
            
            <a id='btn_display_all_books' class="nav-link ms-3 me-3" href="/books/all-books/">Display All Books</a>

            <ul class="navbar-nav ms-auto">
                <a class="nav-link ms-3 me-3" href="/admin/">Admin</a>
                <a class="nav-link" href="/">Home</a>
            </ul>
        </div>
    </div>
</nav>

{% include 'partials/_offcanvas_genres.html' with genres=genres %}