{%load static%}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
	<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock extra_styles %}

<form class="d-flex justify-content-center mb-5 align-items-center" role="search" method="get">
    <div class="mb-3 me-2">
        {{ search_form.search_field }}
    </div>
    <div class="mb-3 me-2">
        {{ search_form.search_query }}
    </div>
    <button class="btn btn-outline-light mb-3 me-2" type="submit" 
		name="action" value="search">Search</button>
</form>

{%include 'partials/_display_books.html' with genres=genres%}