:root {
    --darker-color: #02213f;
    --lighter-color: rgb(62, 224, 207);
    --hovered-lighter-color: #3ac9bc;
	--hovered-darker-color: #4a5568;
    --main-text-color: #02213f;
	--light-text-color: white;
    --gradient-bg: linear-gradient(45deg, #40e0d0, #40e0d0);
    --header-font-family: 'Georgia', serif;

    --table-header-color: #001a33;
	--table-row-color: #012349;
	--cell-border-color: #2c3e50;
	--cell-border-style: 1px solid;
	--elements-border-color: white;
	--table-btn-background-color: transparent;
}

/* h1 {
    font-family: var(--header-font-family);
} */