/* :root {
    --darker-color: #02213f;
    --lighter-color: #40e0d0;
    --hovered-lighter-color: #3ac9bc;
    --main-text-color: #02213f;
    --gradient-bg: linear-gradient(45deg, #40e0d0, #40e0d0);
} */

body{
    background-color: var(--darker-color);
}

/* Text Spacing */
.ms-2 {
    margin-left: 0.5rem; /* Adjust spacing between icon and text */
}