{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
	<link rel="stylesheet" href="{% static 'css/_variables.css' %}">
	<link rel="stylesheet" href="{% static 'css/admin/nav-sidebar.css' %}">
	<link rel="stylesheet" href="{% static 'css/admin/add-form.css' %}">
	<link rel="stylesheet" href="{% static 'css/admin/add-reader-form.css' %}">
	<link rel="stylesheet" href="{% static 'css/admin/table.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}	
{% endblock %}
